.search_input::-moz-placeholder {
	color: #bfbfbf;
}
.search_input::-webkit-input-placeholder {
	color: #bfbfbf;
}
.search_input:-ms-input-placeholder {
	color: #bfbfbf;
}
.search_input::-ms-input-placeholder {
	color: #bfbfbf;
}
.search_input::placeholder {
	color: #bfbfbf;
}
