*
	box-sizing: border-box
body
	font-family: sans serif
.header
	background: #FA8C16
	padding-top: 16px
	padding-bottom: 16px
	&_wrapper
		max-width: 1200px
		width: 90%
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: center
	&_nav
		margin-left: 60px
		margin-right: auto
	&_menu
		display: flex
		list-style: none
		padding: 0
		margin: 0
		margin-left: 60px
		&_link
			text-decoration: none
			color: #fafafa
			margin-right: 15px
			font-size: 14px
			line-height: 22px
.input_group
	position: relative
	width: 237px
	height: 32px
	background: #fff
	border-radius: 4px
	overflow: hidden
	border: 1px solid #D9D9D9
.search_input
	height: 100%
	width: 80%
	border: none
	font-size: 14px
	line-height: 22px
	pl12px
.search_button
	height: 100%
	width: 20%
	position: absolute
	right: 0
	top: 0
	border: none
	background-color: #fff
	cursor: pointer
	display: flex
	justify-content: center
	align-items: center
